* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}

.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}

span {
	color: crimson;
}

/* HEADER */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: .4s ease background-color;
}

.header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1300px;
	padding: 0 10px;
}

#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 130%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}

#header .nav-list ul.active {
	left: 5%;
}

#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: whitesmoke;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: cyan;
}

#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	margin-right: 20px;
	transform: scale(.8);
}

#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}

#header .hamburger .bar::before {
	bottom: 8px;
}

#header .hamburger.active .bar::before {
	bottom: 0;
}

#header .hamburger.active .bar::after {
	top: 0;
}
/* END OF HEADER */

/* hero section */
#hero {
	background-image: url(dsignCCAr.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
}

#hero::after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}

#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1.3s;
}

#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation: text_my .5s ease forwards;
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: rgba(32, 3, 99, 0.87);
	animation: text_reveal_box 1s ease;
	animation-delay: 3s;
}

#hero h1:nth-child(1) span {
	animation-delay: .5s;
}

#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* END HERO */

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: rgba(31, 160, 160, 0.993);
	background-color: transparent;
	border: 2px solid rgb(99, 95, 96);
	border-radius: 20px;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
	font-family: 'Courier New', Courier, monospace;
}

.cta:hover {
	color: silver;
	background-color: rgb(8, 58, 99);
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: whitesmoke;
}

/* SERVICE SECTION */
#services .service {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}

#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(IMG_20210418_153612_339.jpg);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: .85;
	z-index: -1;
}

#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}

#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#services .service-item p {
	color: whitesmoke;
	text-align: left;
	font-size: 13px;
}
/* END OF SERVICE */

/* PROJECTS SECTION */
#projects .projects {
	flex-direction: column;
	max-width: 12000px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .projects-header h1 {
	margin-bottom: 50px;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}

#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: whitesmoke;
}

#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}

#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}

#projects .project-info p {
	color: whitesmoke;
}

#projects .project-img {
	flex-basis: 50%;
	height: 400px;
	overflow: hidden;
	position: relative;
}

#projects .project-img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(63, 63, 90);
	opacity: .65;
}

#projects .project-img img {
	transition: .6s ease transform;
}

#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* END OF PROJECTS */

/* ABOUT SECTION */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 350px;
}

#about .col-right {
	width: 100%;
}

#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}

#about .col-right p {
	margin-bottom: 20px;
}

#about .col-right .cta {
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}

#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 8px solid white;
}

#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 25px;
	height: 98%;
	width: 98%;
	border: 5.5px solid rgba(31, 160, 160, 0.993);
	z-index: -1;
}

/* END OF ABOUT */

/* CONTACT SECTION */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#contact .contact-items {
	width: 385px;
}

#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 50px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 8px 0px 18px 0 #0000002c;
	transition: .5s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 8px 8px 5px 0 #0000002c;
}

#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/* END OF CONTACT */

/* FOOTER */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}

#footer h2 {
	color: whitesmoke;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: .1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
	padding: 10px;
}

#footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}

#footer .social-item:hover img {
	filter: grayscale(0);
}

#footer p {
	color: whitesmoke;
	font-size: 1.1rem;
}
/* END FOOTER */

/* keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}

	100% {
		width: 0;
		left: 100%;
	}
}

@keyframes text_reveal {
	100% {
		color: rgba(100, 98, 98, 0.925);
	}
}

@keyframes text_reveal_name {
	100% {
		color: rgba(31, 160, 160, 0.993);
		font-weight: 450;
	}
}

@keyframes text_my {
	100% {
		color: rgba(112, 127, 133, 0.993);
	}
}

/* MEDIA QUERY FOR TABLET */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}

	h1.section-title {
		font-size: 6rem;
	}
	/* hero */
	#hero h1:nth-child(1) {
		font-size: 3.7rem;
	}

	#hero h1:nth-child(2) {
		font-size: 4rem;
	}

	#hero h1 {
		font-size: 7rem;
	}
	/* end hero */

	/* servives section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* end of services */

	/* project */
	#projects .project-item {
		flex-direction: row;
	}

	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}

	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}

	#projects .all-projects .project-info {
		height: 100%;
	}
	/* end project */

	/* ABOUT */
	#about .about {
		flex-direction: row;
	}

	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}

	#about .about .col-left .about-img::after {
		left: -33px;
		top: 30px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}

	#about .col-right {
		text-align: left;
		padding: 30px;
	}

	#about .col-right h1 {
		text-align: left;
	}
	/* END ABOUT */

	/* CONTACT */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}

	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 20px;
		margin: 0;
	}

	#contact .contact-item {
		margin: 20px;
		flex-direction: row;
	}

	#contact .contact-item .icon {
		height: 50px;
		width: 50px;
	}

	#contact .contact-item .icon img {
		object-fit: contain;
	}
	/* END CONTACT */
}
/* END TABLET */

/* MEDIA QUERY FOR DESKTOP */
@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}

	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}

	#header .nav-list ul li {
		display: inline-block;
	}

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}

	#header .nav-list ul a::after {
		display: none;
	}

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

	#projects .all-projects {
		margin: 100px;
	}
}
/* END MED. DESKTOP */

/*MEDIA FOR ipad*/
@media only screen and (min-width: 768px) {
	#contact .contact-item {
		margin: 20px;
		width: 100%;
		flex-direction: column;
	}

	#hero h1 {
		font-size: 6.5rem;
	}
}

/*MEDIA FOR JIOphone*/
@media (max-width: 240px) {
	#hero h1 {
		font-size: 2.3rem;
	}

	.container {
		width: 100%;
	}
}

@media (max-width: 320px) {
	#hero h1 {
		font-size: 2.8rem;
	}

}
